target/
*.iml
.idea/
.project
bin/
.classpath
.settings/
out/
*.xml
C:\Users\Janó\Documents\Projekt\OOP Java\dungeon-crawl-2-java-Teszike99\src\main\java\com\codecool\dungeoncrawl\dao\GameDatabaseManager.java